.gallery {
    /* background-image: url('https://imagedelivery.net/RT_RPMu352DnmQo9WAcrJw/801cff46-3cc9-4cd7-0f22-8e0812419400/desktoplarge'); */
    background: url("/images/bg.png");
}

.landing,
.home,
.about,
.staking,
.juicebar,
.arcadeToken,
.market,
.gallery,
.factory,
.comingsoon,
.cyborgmint {
    z-index: 1;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size:cover  !important;
    max-width: 100vw;
    min-height: 100%;
}